
<div class="documentation-nav">
	<h5>Documentation</h5>
	<ul class="nav nav-pills nav-stacked submenu">
		<li id="n-mainpage"><a href="{{site.url}}/documentation.html">Overview</a></li>
		<li><a href="{{site.url}}/documentation/installation.html">Installation</a></li>
		<li><a href="{{site.url}}/documentation/setup.html">Initial Set-up</a></li>
		<li><a href="{{site.url}}/documentation/accounts.html">Accounts</a></li>
		<li><a href="{{site.url}}/documentation/folders.html">Folders</a></li>
		<li><a href="{{site.url}}/documentation/reading.html">Reading E-mail</a></li>
		<li><a href="{{site.url}}/documentation/sending.html">Sending E-mail</a></li>
		<li><a href="{{site.url}}/documentation/notifications.html">Notifications</a></li>
		<li><a href="{{site.url}}/documentation/security.html">Security</a></li>
		<li><a href="{{site.url}}/documentation/settings.html">Settings</a></li>
		<li><a href="{{site.url}}/documentation/storage.html">Storage</a></li>
		<li><a href="{{site.url}}/documentation/widgets.html">Widgets</a></li>
		<li><a href="{{site.url}}/documentation/permissions.html">Permissions</a></li>
		<li><a href="{{site.url}}/documentation/debugging.html">Debugging</a></li>
		<li><a href="{{site.url}}/documentation/projects.html">Projects</a></li>
		<li><a href="{{site.url}}/documentation/roadmap.html">Roadmap</a></li>
		<li><a href="{{site.url}}/documentation/development.html">Development</a></li>
		<li><a href="{{site.url}}/documentation/faq.html">FAQ</a></li>
	</ul>
</div>
